[default]
src = 'src'
out = 'out'
libs = ['lib']
remappings = []
solc_version = "0.8.13"
optimizer_runs = 200
ignored_error_codes = [1878]
bytecode_hash="ipfs"
rpc_storage_caching = { chains = "all", endpoints = "remote" }

[lite]
src = 'src'
out = 'out'
libs = ['lib']
remappings = []
solc_version = "0.8.13"
optimizer_runs = 200
ignored_error_codes = [1878]
bytecode_hash="ipfs"
rpc_storage_caching = { chains = "all", endpoints = "remote" }
fuzz_runs = 1